{% form_theme semesterForm 'bootstrap_5_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-7 text-center">   
    <h2>Edit Semester</h2>
    {{form_start (semesterForm)}}
    {{form_end (semesterForm)}}
</div>
{% endblock %}